<div class="membersLoop membersSingleItem">
    
    {% include '@FOSUser/MembersLoop/online.html.twig' %}
    {% include '@FOSUser/MembersLoop/avatar.html.twig' %}
    {% include '@FOSUser/MembersLoop/body.html.twig' %}
    
</div>