<div class="membersLoop membersLoopSingle col-sm-12 col-md-4 media">
    
    {% include '@FOSUser/MembersLoop/online.html.twig' %}
    {% include '@FOSUser/MembersLoop/avatar.html.twig' %}
    {% include '@FOSUser/MembersLoop/body.html.twig' %}
    
</div>