<div class="membersLoop membersSingleItem">
    
    {% include 'DtUserBundle:MemebersLoop:online.html.twig' %}
    {% include 'DtUserBundle:MemebersLoop:avatar.html.twig' %}
    {% include 'DtUserBundle:MemebersLoop:body.html.twig' %}
    
</div>