<div class="subHeader">
    <span>
        {{ user.birthday|getAge }}{% if user.userLocation is not empty %},{% endif %}
    </span>
    <span>
        {% if user.userLocation is not empty %}
            {{ app.user.userLocation.city }}
        {% endif %}
    </span>
</div>