
{% set 
    urlToUpdate, 
    urlToDelete = 
    path('dt_user_user_picture_edit', {'pictureId': app.user.id, 'id': picture.id}), 
    path('dt_user_user_picture_delete', {'pictureId': app.user.id, 'id': picture.id}) %}
<div>
    <ul class="list-inline userPictureActions">
        <li>
            <div data-action-url="{{ urlToUpdate }}" class="btn btn-default callAction"><i class="fa fa-user" aria-hidden="true"></i></div>
        </li>
        <li>
            <div data-action-url="{{ urlToDelete }}" class="btn btn-default callAction"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
        </li>
    </ul>
</div>
     
