{% trans_default_domain 'FOSUserBundle' %}

{% from 'MopaBootstrapBundle::flash.html.twig' import flash, advanced_flash %}

{% if message is defined %}    
        {{ advanced_flash('success', message, '', true, false, '') }}    
{% endif %}

{% if app.user.userLocation is null %}
    {% set message = 'layout.section_empty'|trans%}
    {{ flash('info', message) }}
{% else %}    
    <table class="table table-condensed">
        <tbody> 
            <tr> 
                <th scope="row"></th>
                <td>
                    
                </td> 
            </tr> 
        </tbody>
    </table>
{% endif %}