{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'MopaBootstrapBundle:form:fields.html.twig' %}

{% from 'MopaBootstrapBundle::flash.html.twig' import flash, advanced_flash %}

{% if message is defined %}    
        {{ advanced_flash('success', message, '', true, false, '') }}    
{% endif %}

{% if userPictures is null %}
    {% set message = 'layout.section_empty'|trans%}
    {{ flash('info', message) }}
{% else %}   
    
    <div class="row">
        {% for picture in userPictures %}
        <div class="col-xs-2">
            
        </div>
        {% endfor %}
        
        {% include 'DtUserBundle:Compte:UserPicture/new.html.twig' %}
    </div>
    {#<table class="table table-condensed">
        <tbody> 
            <tr> 
                <th scope="row"></th>
                <td>
                    
                </td> 
            </tr> 
        </tbody>
    </table> #}
{% endif %}