
<div class="row userPictureContainer">
{% for picture in userPictures %}
    
    {% set picturePath = 
        [
            app.request.server.get('DOCUMENT_ROOT'),
            constant('USER_UPLODED_FOLDER', picture)|replace({'%d': app.user.id}),
            picture.name
        ]|join('/')
    %}
    
    {% if picturePath|fileExists %}
    {% include 'DtUserBundle:Compte:UserPicture/item.html.twig' %}
    {% endif %}
    
{% endfor %}
</div>