
<div class="row">
{% for picture in userPictures %}
    
    {% set picturePath = 
        [
            app.request.server.get('DOCUMENT_ROOT'),
            constant('USER_UPLODED_FOLDER', picture)|replace({'%d': app.user.id}),
            picture.name
        ]|join('/')
    %}
    
    {% if picturePath|fileExists %}
    <div class="col-xs-3 col-md-3 col-lg-3 userPictureItem">

        {% set pictureUrl = 
            [
                constant('USER_UPLODED_FOLDER', picture)|replace({'%d': app.user.id}),
                picture.name
            ]|join('/') 
        %}
            
        <div class="thumbnail">
            <img src="/{{ pictureUrl }}">
            {% include 'DtUserBundle:Compte:UserPicture/edit.html.twig' %}
        </div>
        
    </div>
    {% endif %}
    
{% endfor %}
</div>