
<div class="row userPictureContainer">
{% for picture in userPictures %}
    
    {% set picturePath = app.request.server.get('DOCUMENT_ROOT') ~ picture|getUserPictureUrl %}

    {% if picturePath|fileExists %}
    {% include 'DtUserBundle:Compte:UserPicture/item.html.twig' %}
    {% endif %}
    
{% endfor %}
</div>