
<div class="row">
{% for picture in userPictures %}
    <div class="col-xs-2">
        {#% set pictureUlr = app.request.schemeAndHttpHost %#}
        {% set pictureUrl = 
            [
                app.request.schemeAndHttpHost, 
                'web', constant('USER_UPLODED_FOLDER', 
                picture)|replace({'%d': app.user.id}),
                picture.name
            ]|join('/') %}
        <img src="{{ pictureUrl }}">
    </div>
{% endfor %}
</div>