{% trans_default_domain 'FOSUserBundle' %}

{% set tabsContent = 
{
    'user_pictures': {
        'sectionId': 'photos-user-pictures',
        'sectionTitle': 'layout.compte.user_pictures',
        'contentId': 'userPicturesContent',
        'content': controller('DtUserBundle:UserPicture:index', {'id': app.user.id })
    }
}
%}

{% for content in tabsContent %}

    <div class="section-anchor-js">
        <h3 class="page-header" id="{{ content.sectionId }}">
            {{ content.sectionTitle|trans({}, 'FOSUserBundle') }}
        </h3>
        <div id="{{ content.contentId }}">
            <div class="viewContent">
                {{ render(content.content) }}
            </div>
            <div class="formContent hidden">
            </div>
        </div>
    </div>
    
{% endfor %}    

{#{ render ( controller( 'DtUserBundle:UserPicture:index', { 'id': app.user.id } ) ) }#}