{% trans_default_domain 'FOSUserBundle' %}

{% set tabsContent = 
{
    'moi': {
        'sectionId': 'profile-moi',
        'sectionTitle': 'layout.compte.moi',
        'contentId': 'moiContent',
        'content': controller('DtUserBundle:Compte:showMoi', {'id': app.user.id })
    },
    'reseaux_sociaux': {
        'sectionId': 'profile-reseaux-sociaux',
        'sectionTitle': 'layout.compte.reseaux_sociaux',
        'contentId': 'reseauxSociauxContent',
        'content': controller('DtUserBundle:Compte:showReseauxSociaux', {'id': app.user.id })
    },
    'about_user': {
        'sectionId': 'profile-a-propos-de-moi',
        'sectionTitle': 'layout.compte.about_user_reply',
        'contentId': 'aboutUserReplyContent',
        'content': controller('DtUserBundle:Compte:showAboutUserReply', {'id': app.user.id })
    },
    'looking_for': {
        'sectionId': 'profile-je-cherche',
        'sectionTitle': 'layout.compte.looking_for',
        'contentId': 'lookingForContent',
        'content': controller('DtUserBundle:Compte:showLookingFor', {'id': app.user.id })
    },
    'user_location': {
        'sectionId': 'profile-user-location',
        'sectionTitle': 'layout.compte.user_location',
        'contentId': 'userLocationContent',
        'content': controller('DtUserBundle:Compte:showUserLocation', {'id': app.user.id })
    }
}
%}

{% for content in tabsContent %}

    <div class="section-anchor-js">
        <h3 class="page-header" id="{{ content.sectionId }}">
            {{ content.sectionTitle|trans({}, 'FOSUserBundle') }}
        </h3>
        <div id="{{ content.contentId }}">
            <div class="viewContent">
                {{ render(content.content) }}
            </div>
            <div class="formContent hidden">
            </div>
        </div>
    </div>
    
{% endfor %}    