{% trans_default_domain 'FOSUserBundle' %}

{% set tabsContent = 
{
    'moi': {
        'sectionId': 'profile-moi',
        'href': 'moi',
        'sectionTitle': 'layout.compte.moi',
        'contentId': 'moiContent',
    }
}
%}

{% for content in tabsContent %}

    <div class="section-anchor-js" id="">
        <h3 class="page-header" id="{{ content.sectionId }}">
            {{ content.sectionTitle|trans({}, 'FOSUserBundle') }}
        </h3>
        <div id="moiContent">
            <div class="viewContent">
                {{ render(controller('DtUserBundle:Compte:showMoi', {'slug': app.request.get('slug') })) }}
            </div>
            <div class="formContent hidden">
            </div>
        </div>
    </div>
    
{% endfor %}    