{% extends '@FOSUser/layout.html.twig' %}

{% block content_page %}

    {% if users is defined %}

        <div class="row">
            <div class="col-md-12">
            {% for user in users %}
                {% include '@FOSUser/MembersLoop/container.html.twig' %}
            {% endfor %}
            </div>
        </div>

    {% endif %} 

{% endblock content_page %}
