{% extends "DtUserBundle::layout.html.twig" %}

{% block content_page %}
    <div class="col-md-6">
    {{ include('DtUserBundle:Social:social_btn.html.twig') }}
    </div>
    <div class="col-md-6">
    {{ include('DtUserBundle:Security:login_content.html.twig') }}
    </div>
{% endblock content_page %}
