.membersLoopSm()
{
    .avatarContainer{
        
    }
    
    .avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.membersLoopMd()
{
    
}

.membersLoop.membersLoopSingle{
    
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #D4D4D4;
    
    @media (max-width: @screen-sm-min) {
        .membersLoopSm();
    }
    
    
}

