{% extends "::base.html.twig" %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
        '@DtAdminBundle/Resources/public/css/*.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    
{% endblock head_style %}

{% block body_tag %}
<body class="admin-body">
{% endblock body_tag %}

{% block navbar %}

    {% block container_header_start %} 
        <header id="main-header" class="admin-nav"> 
    {% endblock container_header_start %}
        
    <nav class="navbar navbar-inverse navbar-fixed-top">
        {% block brand %}
            <a class="navbar-brand" href="#">Admin back office</a>
        {% endblock %}
    </nav>

    {% block container_header_end %} 
        </header> 
    {% endblock container_header_end %}

{% endblock navbar %}

{% block breadcrumb %}
{% endblock breadcrumb %}    

{% block headline %}{% trans %} dashboard.dashboard {% endtrans %}{% endblock headline %}

{% block page_content %}
     
    <div class="container-fluid admin-container">
        
        <div class="col-sm-3 col-md-2 sidebar admin-sidebar">
            {{ knp_menu_render('admin_sidebar', {'currentClass': 'active'}) }}
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main admin-main">
            
            {% block content_page_content %}
                Content Dashboard index
            {% endblock content_page_content %}
            
        </div>
    </div>
            
{% endblock page_content %}     

{% block main_footer %}
{% endblock main_footer %}    

{#
{% block container %}
    
    <div class="container-fluid admin-container">
        
        <div class="col-sm-3 col-md-2 sidebar admin-sidebar">
            {{ knp_menu_render('admin_sidebar') }}
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main admin-main">
            
            {% block headline %}
               {%%} 
            {% endblock headline %} 

            
            {% block content %}
                
            {% endblock content %}
            
        </div>
    </div>
{% endblock container %}  
#}