{% set menu = knp_menu_get('login') %}
{% set extrasClass = '' %}
        
        
<div class="btn-group btn-group-justified">
    {% for item in menu %}
        {#{ dump(item.getExtras()) }#}
        
        {% if item.isCurrent() %}
            {% set extrasClass = 'current' %}
        {% endif %}
        
    <a href="{{ item.getUri() }}" title="{{ item.getLabel()|trans( {}, 'menu')  }}" class="{{ extrasClass }} btn btn-primary">
        <i class="fa fa-2x {{ item.getExtra('icon') }}" aria-hidden="true"></i>
    </a>
    {% endfor %}
</div>
        
        