{% extends "DtUserBundle::layout.html.twig" %}


{% block content_page %}
    <div class="col-md-6">
        {{ include('DtUserBundle:Registration:social_btn.html.twig') }}
    </div>
    <div class="col-sm-6">
        {{ include('DtUserBundle:Registration:register_content.html.twig') }}
    </div>
{% endblock content_page %}