
<div class="row">
    <a class="fb-login-btn btn btn-md col-sm-12">{{ 'register_with_fb'|trans }}</a>
    <a class="google-login-btn btn-md col-sm-12">{{ 'register_with_google'|trans }}</a>
</div>
<div id="status">
</div>