{% trans_default_domain 'FOSUserBundle' %}



{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'ajaxForm' } }) }}
    {{ form_widget(form) }}
    <div>
        <button id="passwordSubmit" type="submit" class="btn btn-danger">{{ 'change_password.submit'|trans }}</button>
    </div>
{{ form_end(form) }}


